.wp-block-blocks-course-text-box {

	&.is-style-squared {
		border-radius: 0;
	}

	&.is-style-rounded {
		border-radius: 10px;
	}


	&.text-box-align-right {
		text-align: right;
	}

	&.text-box-align-center {
		text-align: center;
	}

	&.text-box-align-left {
		text-align: left;
	}
}
